<div class="header">
  <app-toolbar></app-toolbar>
</div>
<div class="main">
  <mat-card>
    <mat-card-header class="custom-header">
      <mat-card-title>
        <h1>¡Adquiere tu vehículo YA!</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h3>
          Conduce hacia tus sueños y libera tu camino hacia la libertad
        </h3>
        <br>
        <button mat-raised-button color="primary" style="color: white;" routerLink="/new-credit" class="call-to-action-button">Comenzar</button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="about-autopago">
        <h2>VENTAJAS</h2>
        <p>
          Con AutoPago puedes comprar un auto nuevo con la tasa de interés más baja del mercado.
        </p>
        <br>
        <div class="autopago-info">
          <div class="info-item">
            <img src="https://cdn-icons-png.flaticon.com/512/5579/5579268.png" alt="Facilidad de uso">
            <p>Facilidad de uso</p>
          </div>
          <div class="info-item">
            <img src="https://cdn-icons-png.flaticon.com/512/2972/2972562.png" alt="Rápido">
            <p>Rápido</p>
          </div>
          <div class="info-item">
            <img src="https://cdn-icons-png.flaticon.com/512/4564/4564330.png" alt="Ahorras dinero">
            <p>Ahorras dinero</p>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
      </div>
      <div class="car-credit">
        <div class="car-credit-ben">
          <div class="car-credit-ben-li">
            <h2>Crédito vehicular</h2>
            <p style="line-height: 2;">
              Es un tipo de financiamiento que te permite adquirir un vehículo mediante un préstamo.
              Este préstamo se paga en cuotas mensuales que incluyen tanto el capital como los intereses.
            </p>
            <button mat-raised-button color="primary" style="color: white;" routerLink="/credits" class="call-to-action-button">Ver planes</button>
          </div>
          <div class="car-credit-img">
            <img src="https://e.rpp-noticias.io/xlarge/2019/08/19/232223_830081.png" alt="Crédito vehicular">
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
      </div>
      <div class="smart-buy">
        <div class="smart-buy-content">
          <h2>¿Qué es la compra inteligente?</h2>
        </div>
        <br>
        <div class="smart-buy-ben">
          <div class="smart-buy-img">
            <img src="https://images.pexels.com/photos/5466785/pexels-photo-5466785.jpeg" alt="Compra inteligente">
          </div>
          <div class="smart-buy-ben-li">
            <p style="line-height: 2;">
              La compra inteligente evalúa opciones financieras, brinda control financiero y
              adaptabilidad a necesidades cambiantes, considerando desembolso inicial y costos a largo plazo.
            </p>
            <h2>Beneficios</h2>
            <ul>
              <li>Estrategia eficiente con recursos disponibles.</li>
              <li>Evaluar opciones y comparar precios para rentabilidad.</li>
              <li>Cuotas para adaptabilidad financiera.</li>
              <li>Considerar costos para planificación eficiente.</li>
            </ul>
            <button mat-raised-button color="primary" style="color: white;" routerLink="/new-credit" class="call-to-action-button">Crear un plan de compra inteligente</button>
          </div>
        </div>
      </div>
    </mat-card-content>
    <br>
    <mat-divider></mat-divider>
    <div class="footer">
      <p>Todos los derechos reservados &copy; AutoPago</p>
      <p>Grupo 6 - Finanzas e Ingeniería Económica</p>
    </div>
  </mat-card>
</div>
