.custom-header {
    height: 90vh;
    background: url('https://images.pexels.com/photos/4024490/pexels-photo-4024490.jpeg') center/cover no-repeat;
    background-position: center bottom;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.custom-header h1,
.custom-header mat-card-subtitle h3 {
  color: white;
  margin: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.700);
  width: 100%;
}

.custom-header h1{
    font-weight: 0;
}

.custom-header mat-card-subtitle h3{
    font-weight: 100;
}

.call-to-action-button {
  font-size: medium; 
  font-weight: bolder;
  
}

.about-autopago,
.car-credit,
.smart-buy {
  padding: 15px;
  margin-bottom: 15px;
}

.about-autopago {
  text-align: center;
  max-width: 80%;
  margin: 20px auto;
}

.autopago-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.info-item {
  text-align: center;
}

.info-item img {
  width: 100px;
  border-radius: 50%;
  background-color: rgba(71, 139, 89, 0.507);
  padding: 10px;
}

.info-item p {
  margin-top: 5px;
}

.car-credit {
  max-width: 80%;
  margin: 0 auto;
}

.car-credit-ben {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.car-credit-ben-li {
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.car-credit-img {
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.car-credit-img img {
  width: 100%;
  height: 50% ;
  border-radius: 20%;

}

.smart-buy {
  max-width: 80%;
  margin: 0 auto;
}

.smart-buy-content {
  max-width: 100%;
  text-align: center;
}

.smart-buy-ben {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.smart-buy-ben-li {
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.smart-buy-ben-li ul li {
  padding: 5px;
}

.smart-buy-img {
  flex: 1;
  max-width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.smart-buy-img img {
  width: 100%;
  border-radius: 100%;
  padding-left: -30px;
}



.mat-card-content {
  padding: 15px;
}


.footer {
  background: rgba(255, 255, 255, 0.5);
  color: #525252;
  padding: 20px;
  text-align: center;
}


@media (max-width: 768px) {
  .smart-buy-ben-li,
  .smart-buy-img {
    max-width: 100%;
    flex: 1 0 100%;
  }
}

@media (max-width: 768px) {
  .car-credit-ben-li,
  .car-credit-img {
    max-width: 100%;
    flex: 1 0 100%;
  }
}

@media (max-width: 768px) {
  .autopago-info {
    flex-direction: column;
    align-items: center;
  }
}
