<div class="main">
  <div class="header">
    <app-toolbar></app-toolbar>
  </div>
  <div class="content">
    <mat-card class="new-credit-card">
      <mat-card-header>
        <mat-card-title>Nuevo crédito</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <div class="form-category">
          <span>Simule los datos de su credito</span>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Ingresa el tipo de moneda</mat-label>
              <mat-select [formControl]="creditForm.get('currency')" required>
                <mat-option value="soles">Soles (S/.)</mat-option>
                <mat-option value="dollars">Dólares ($)</mat-option>
                <mat-option value="euros">Euros (€)</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ingresa el precio del vehiculo</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('vehiclePrice')"
                required
              />
              <mat-error *ngIf="creditForm.get('vehiclePrice').invalid">{{
                getRangeErrorMessage()
              }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ingresa el número de cuotas</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('feeNumber')"
                required
              />
              <mat-error *ngIf="creditForm.get('feeNumber').invalid">{{
                getRangeErrorMessage()
              }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ingresa el porcentaje de la cuota inicial</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('initialFeePercentage')"
                required
              />
              <mat-error
                *ngIf="creditForm.get('initialFeePercentage').invalid"
                >{{ getRangeErrorMessage() }}</mat-error
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ingresa el porcentaje de la cuota final</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('finalFeePercentage')"
                required
              />
              <mat-error *ngIf="creditForm.get('finalFeePercentage').invalid">{{
                getRangeErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-category">
          <span>Configuración de cuotas</span>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Ingresa el tipo de periodo de gracia</mat-label>
              <mat-select
                [formControl]="creditForm.get('gracePeriodType')"
                required
              >
                <mat-option value="partial">Parcial</mat-option>
                <mat-option value="complete">Completo</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label
                >Ingresa el número de cuotas con periodo de gracia</mat-label
              >
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('gracePeriodFeeNumber')"
                required
              />
              <mat-error
                *ngIf="creditForm.get('gracePeriodFeeNumber').invalid"
                >{{ getRangeErrorMessage() }}</mat-error
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ingresa el tipo de tasa de interés</mat-label>
              <mat-select [formControl]="creditForm.get('interestRateType')">
                <mat-option value="nominal">Nominal</mat-option>
                <mat-option value="effective">Efectiva</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ingresa la tasa de interés</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('interestRatePercentage')"
                required
              />
              <mat-error
                *ngIf="creditForm.get('interestRatePercentage').invalid"
                >{{ getPercentageRangeErrorMessage() }}</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="form-category">
          <span>Costes legales</span>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Costes notariales</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('notarialCost')"
                required
              />
              <mat-error *ngIf="creditForm.get('notarialCost').invalid">{{
                getRangeErrorMessage()
              }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Costes registrales</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('registerCost')"
                required
              />
              <mat-error *ngIf="creditForm.get('registerCost').invalid">{{
                getRangeErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-category">
          <span>Datos del vehiculo</span>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Url de la imagen del vehículo</mat-label>
              <input matInput [formControl]="creditForm.get('url')" required />
              <mat-error *ngIf="creditForm.get('url').invalid">{{
                getStringErrorMessage()
              }}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>GPS</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('gps')"
                required
              />
              <mat-error *ngIf="creditForm.get('gps').invalid">{{
                getRangeErrorMessage()
              }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Portes</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('ports')"
                required
              />
              <mat-error *ngIf="creditForm.get('ports').invalid">{{
                getRangeErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="form-category">
          <span>Gastos</span>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Gastos de administración</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('administrationBills')"
                required
              />
              <mat-error
                *ngIf="creditForm.get('administrationBills').invalid"
                >{{ getRangeErrorMessage() }}</mat-error
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label>% de seguro de desgravamen</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('lifeInsurancePercentage')"
                required
              />
              <mat-error
                *ngIf="creditForm.get('lifeInsurancePercentage').invalid"
                >{{ getPercentageRangeErrorMessage() }}</mat-error
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label>% de seguro riesgo</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('riskInsurancePercentage')"
                required
              />
              <mat-error
                *ngIf="creditForm.get('riskInsurancePercentage').invalid"
                >{{ getPercentageRangeErrorMessage() }}</mat-error
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label>% de costo de oportunidad del capital</mat-label>
              <input
                type="number"
                matInput
                [formControl]="creditForm.get('cok')"
                required
              />
              <mat-error
                *ngIf="creditForm.get('riskInsurancePercentage').invalid"
                >{{ getPercentageRangeErrorMessage() }}</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="form-category">
          <span>Fechas de pago</span>
          <div class="form-group">
            <mat-form-field>
              <mat-label>Ingresa la fecha inicial</mat-label>
              <input
                type="date"
                matInput
                [formControl]="creditForm.get('initialDate')"
                required
              />
              <mat-error *ngIf="creditForm.get('initialDate').invalid">{{
                getDateErrorMessage()
              }}</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Ingresa la fecha final</mat-label>
              <input
                type="date"
                matInput
                [formControl]="creditForm.get('finalDate')"
                required
              />
              <mat-error *ngIf="creditForm.get('finalDate').invalid">{{
                getDateErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="footer">
    <button
      class="confirm-button"
      mat-raised-button
      color="accent"
      (click)="createCredit()"
      routerLink="/credits"
    >
      Crear crédito
    </button>
    <a class="cancel-button" mat-raised-button color="warn" routerLink="/home"
      >Cancelar</a
    >
  </div>
</div>
