<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><b>Plan: {{credit.id}}</b></mat-card-title>
  </mat-card-header>
  <br>
  <img mat-card-image src="{{credit.url}}" alt="car picture" class="car-image">
  <mat-card-content>
    <p>Precio del vehiculo: {{credit.vehiclePrice}}</p>
    <p>Cuotas: {{credit.feeNumber}}</p>
    <p>Porcentaje del inicial: {{credit.initialFeePercentage}}%</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="viewCreditDetails(credit.id)">
      <b style="color: white">VER PLAN</b>
    </button>
  </mat-card-actions>
</mat-card>
<br>
